#contact
    background-color: #75b4aa
    .nav-link
        color: #ffffff
        font: 400 18px/60px Lato
        &:hover
            background: #82c8bd
            border-radius: 10%

    .title-block__text
        color: #ffffff